@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

html, body, div, span, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  height: 100%;
	font-family: 'Source Sans Pro';
	vertical-align: baseline;
}
h5{
	
	text-rendering: optimizeLegibility;
	font-style: normal;
	margin-block-end: 1.67em;
    margin-inline-start: 0px;
	margin-inline-end: 0px; 
	display: block;
}
main{
	display: block;
}
article.post {
    background-position: center center;
    background-size: cover;
	border-bottom: medium none !important;
	display: block;
}
article.post > a.post-link{
	display: block;
    padding: 3.75em 0;
}
article.post > a.post-link, article.style-post > a.post-link{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.65) !important;
}
.logo {
	float: left;
}
nav {
	display: none;
	width: 100%;
	padding: 5rem;
	background-color: grey;
	position: relative;
	
  }
  
  .nav-open {
	display: block;
    float: left;
    text-align: left;
    position: sticky;
  }
  
  nav a {
	display: block;
	width: 100%;
	text-align: center;
	padding: 1px 1px;
	text-decoration: none;
	cursor: pointer;
	font-size: 2.2rem;
	color: #FFF;
  }
  
  nav a:hover {
	background-color: #111;
	color: #fff;
  }
body {
	line-height: 1;
}

body {
	-webkit-text-size-adjust: none;
}
body {
	background-color: #232228;
    color: #FFF;
}

/* Header */
.header-row h5 {
    color: #BBBBBB;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 1em;
}

.container {
	display: inline-block;
	cursor: pointer;
	float: right;
  }
  
  .bar1, .bar2, .bar3 {
	width: 25px;
    height: 5px;
    background-color: #FFF;
    margin: 3px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
	-webkit-transform: rotate(45deg) translate(-5px, -2px);
	transform: rotate(45deg) translate(-5px, -2px);
  }

#navigation-container {
	width: 1200px;
	margin: 0 auto;
	height: 70px;
  }
  .navigation-bar img{
	width: 5%;
}
  .navigation-bar {
	background-color: #232228;
	height: 70px;
	width: 100%;
	text-align:center;
  }
  .navigation-bar img{
  float:left;
  }
  .navigation-bar ul {
	padding: 0px;
	margin: 0px;
	text-align: center;
	display:inline-block;
	vertical-align:top;
  }
  
  .navigation-bar li {
	list-style-type: none;
	padding: 0px;
	height: 24px;
	margin-top: 4px;
	margin-bottom: 4px;
	display: inline;
  }
  
  .navigation-bar li a {
	color: #FFF;
	font-size: 16px;
	text-decoration: none;
	line-height: 70px;
	padding: 5px 15px;
	opacity: 0.7;
	text-align: right;
	float: right;
  }
  
  #menu {
	float: right;
  }

  .header-breaker {
    border: 1px solid #f0575b;
    margin: auto;
    width: 10%;
    text-align: center;
    align-items: center;
    float: unset;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-breaker {
    border: 1px solid #484848;
    margin: auto;
    width: 50%;
    text-align: center;
    align-items: center;
    float: unset;
    margin-top: 10px;
    margin-bottom: 10px;
}

td.footer-contacts {
    text-align: right;
    /* margin: 2px 2px 2px 12px; */
}

td.footer-socials{
	text-align: center;
}

i.fa{
	color: #FFF;
}
i.fas{
	color: #FFF;
}

.column {
	float: left;
	width: 50%;
}
h1.main-header-byline {
    font-weight: bold;
    font-size: 70px;
    word-break: break-all;
}
p.main-header-copy {
    font-weight: lighter;
    word-break: break-all;
    width: 40%;
    text-align: center;
}

.down-icon {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 5px;
    transition: all 0.3s ease-out 0s;
}

.post-details{
	color: #FFF;
}

a.post-link {
    text-decoration: none;
}
.post-meta {
	font-size: 12px;
	margin: 10px;
}

.spacer {
    margin: 80px;
}

/* Media Queries */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
  }
  
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
  
  }
  
  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width : 320px) {
  /* Styles */
  div#navigation-container {
    width: 100%;
    margin: auto;
    height: 90px;
    }
  
  .row.nav-row{
    height: 10px;
  }
  .row.content-row{
    height: 20%;
  }

  }
  
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
  }
  
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
  }
  
  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
  }
  /**********
  iPad 3
  **********/
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  /* Desktops and laptops ----------- */
  @media only screen  and (min-width : 1224px) {
  /* Styles */
  }
  
  /* Large screens ----------- */
  @media only screen  and (min-width : 1824px) {
  /* Styles */
  }
  
  /* iPhone 4 ----------- */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  /* iPhone 5 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone 6, 7, 8 ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone 6+, 7+, 8+ ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone X ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* iPhone XS Max, XR ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* Samsung Galaxy S3 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* Samsung Galaxy S4 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* Samsung Galaxy S5 ----------- */
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  

